<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">& copy ; <%= year %>, CSE 340 App</p>
</footer>

//This allows JavaScript to determine the current year, and display it in the copyright statement.