<h1>Welcome to CSE Motors!</h1>

<section class="hero">
   <div class="heroLeft">
      <h2>Batmobile</h2>
      <ul>
         <li>3 Cup holders</li>
         <li>Superman doors</li>
         <li>Fuzzy dice!</li>
      </ul>
      <button type="button">Own Today</button>
   </div>
   <div class="heroRight">
      <img src="../public/images/vehicles/batmobile.jpg" alt="batmobile image">
   </div>
</section>

<section class="details">
   <div class="detailsLeft">
      <h2>Batmobile Upgrades</h2>
      <div class="upgrade">
         <img src="../public/images/upgrades/flux-cap.png" alt="Flux Capacitor">
         <a href="#" target="_blank">Flux Capacitor</a>
      </div>
      <div class="upgrade"></div>
         <img src="../public/images/upgrades/flame.jpg" alt="Flame Decals">
         <a href="#" target="_blank">Flame Decals</a>
      </div>
      <div class="upgrade"></div>
         <img src="../public/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
         <a href="#" target="_blank">Bumper Stickers</a>
      </div>
      <div class="upgrade"></div>
         <img src="../public/images/upgrades/hub-cap.jpg" alt="Hub Caps">
         <a href="#" target="_blank">Hub Caps</a>
      </div>
   </div>
   <div class="detailsRight">
      <h2>DMC Delorean Reviews</h2>
      <ul>
         <li>"So fast it's almost live traveling in time." (4/5)</li>
         <li>"Coolest ride on the road." (4/5)</li>
         <li>"I'm feeling McFly!" (5/5)</li>
         <li>"The most futuristic ride of our day." (4.5/5)</li>
         <li>"80's livin and I love it!" (5/5)</li>
      </ul>
   </div>
</section>