<div class="error">
   <h1>404 Error</h1>
   <h2>Oops! Looks like this car got stuck in traffic... and never made it here!</h2>
   <button type="button" onclick="location.href='#'">Take Me Home, Country Roads!</button>
</div>